<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <h2>This is the post_list.html template</h2>

    <h1>Some Blog Posts</h1>

    {% for post in posts %}
    <!-- template tag -->
    <article>
      <time>published: {{post.published_date}}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text }}</p>
    </article>
    {% endfor %}

    <footer>And now, a footer!</footer>
  </body>
</html>
